.App {
  text-align: center;
  background-color: #091219;
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5;
  font-weight: bolder;
  display:flex;
  align-items: center;
  flex-direction: row; 
}
.umbrella {
  width: 45px;
  height: 45px;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-animation-name: umb-animation;
  -webkit-animation-duration: 4s;
  animation-name: umb-animation;
  animation-duration: 10s;
  transform: rotate(-20deg);
}
@keyframes umb-animation {
  90% {
    transform: rotate(-360deg);
  }
}
.componentContainer {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-style: solid;
  background-color: white;
  height: 80%;
  width: 70%;
  color: #091219;
  font-weight: bolder;
  border-radius: 15px;
}
form {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contentDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
}
button {
  width: 80%;
  padding: 10px;
  margin: 10px;
  background-color: #091219;
  color: white;
  border-radius: 10px;
  border-color: #091219;
}

button:hover {
  background-color: white;
  color: #091219;
}
a:visited {
  display: none;
}
a:hover {
  background-color: white;
  color: #091219;
}
