.App {
  text-align: center;
  background-color: #091219;
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
ul {
  list-style-type: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5;
  font-weight: bolder;
  display:flex;
  align-items: center;
  flex-direction: row; 
}
form label{
  text-align: left;
}
.loginform input{
  margin-top: 50px;
  margin-bottom:50px;
}
.umbrella {
  width: 45px;
  height: 45px;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-animation-name: umb-animation;
  -webkit-animation-duration: 4s;
  animation-name: umb-animation;
  animation-duration: 10s;
  transform: rotate(-20deg);
}
@keyframes umb-animation {
  90% {
    transform: rotate(-360deg);
  }
}
.componentContainer {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-style: solid;
  background-color: white;
  height: 80%;
  width: 85%;
  color: #091219;
  font-weight: bolder;
  border-radius: 15px;
  padding-top: 25px;
}
form {
  display:flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contentDiv {
  padding-top: 25px;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
  width: 80%;
  height:100%;
}
button {
  width: 90%;
  padding: 10px;
  margin-top:5px;
  margin-bottom:5px;
  background-color: #091219;
  color: white;
  border-radius: 10px;
  border-color: #091219;
}
.buttonRow {
  width:100%;
  align-items: flex-end;
  justify-content: flex-end;
}
button:hover {
  background-color: white;
  color: #091219;
}
a:visited {
  display: none;
}
a:hover {
  background-color:white;
  color: #091219;
}
a {
  text-decoration: none;
}
a:link, a:visited {
  color: white
}
.title a:hover {
  background-color:white;
  color: #091219;
}
.itemQuantity {
  width: 20px;
  margin-left:30px;
}
.orderList li {
  margin: 10px;
  text-align: left;
}
@media only screen and (min-width: 767px) {
  .componentContainer {
    width:30%
  }
}